<!DOCTYPE html>
<html ng-app="appUsuario">
<head>
    <meta charset="utf-8" />
    <title>Sistema de Controle de Usuários</title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container" ng-controller="usuarioController">
    <div class="card card-body bg-dark">
        <h2 class="text-white">Sistema de Controle de Usuários</h2>
        <p class="text-white">
            <a href="/index.html">Voltar</a> para a página inicial.
        </p>
    </div>
    <br />
    <strong>Formulário para cadastro de Usuários</strong>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>Nome do usuário:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
                   ng-model="usuario.Nome" />
            <span class="text-danger" ng-repeat="e in erros['model.Nome']">{{e}}</span>
            <br />

            <label>Email do usuário:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
                   ng-model="usuario.Email" />
            <span class="text-danger" ng-repeat="e in erros['model.Email']">{{e}}</span>
            <br />

            <button class="btn btn-success" ng-click="cadastrar()">
                Cadastrar Usuário
            </button>
            <br />
            <br />

            <strong>{{mensagem}}</strong>

        </div>
    </div>

    <script src="../../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>

        <script>

            //criando um programa baseado em Angular e associa-lo à página
            var app = angular.module('appUsuario', []);
            //criando um controlador para o programa acima
            app.controller('usuarioController', function ($scope, $http) {

                //$scope -> objeto utilizado para interagir com a página
                //$http -> objeto utilizado para chamada aos serviços

                //declarando um JSON para capturar os campos do formulário

                $scope.usuario = {
                    Nome: "",
                    Email: ""
                };

                //criando uma função para realizar o cadastro do usuário
                $scope.cadastrar = function () {

                    //gerando uma mesagem.. 
                    $scope.mensagem = "Processando, por favor aguarde.";

                    $scope.erros = {}; //limpando os erros de validação

                    //realizando uma requisição para a API
                    $http.post('https://localhost:44346/api/usuario/cadastrar', $scope.usuario)
                        .then(function (result) { //promisse de sucesso

                            $scope.mensagem = result.data; //imprimindo

                            //limpar os campos..
                            $scope.usuario.Nome = "";
                            $scope.usuario.Email = "";
                        })
                        .catch(function (e) { //promisse de erro
                            if (e.status == 400) { //erros de validação
                                $scope.erros = e.data;
                                //armazenando os erros de validação
                                $scope.mensagem = ""; //limpando a mensagem
                                }
                                else {
                                $scope.mensagem = e.data;
                                }
                        });
                };
            });

         </script>

</body >
</html >
